* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

a {
        text-decoration: none;
}

ul,
ol {
        list-style: none;
}

body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                "Helvetica Neue", Arial, sans-serif, "Noto Sans", "Liberation Sans";
        margin: 0;
        padding: 0;
        background-color: #070606;
        color: var(--light);
}


:root {
        --light: #f3f0f0;
        --softLight: #e0d7d7;
        --dark: #070606;
        --transition: all 0.3s ease-in-out;
}

/* === common ===== */
.container {
        max-width: 470px;
        margin: 0 auto;
        padding: 0 12px;
}

.btn {
        padding: 12px 24px;
        border-radius: 8px;
        color: var(--dark);
        transition: var(--transition);
        font-weight: 600;
        border: none;
        background-color: rgb(237, 47, 56);

}



.btn:hover,
.btn:focus {
        background-color: var(--softLight);
        transition: var(--transition)
}

.btn-hero {
        background-color: #f4f42d;
        color: var(--dark);
        transition: var(--transition);
}

.btn-hero:hover,
.btn-hero:focus {
        background-color: #aaaa20;
        transition: var(--transition);
}

.section-title {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 16px;
}

.title-center {
        text-align: center;
}

@media (min-width: 768px) {
        .container {
                max-width: 768px;
                padding: 0 16px;
        }

        .section-title {
                font-size: 22px;
                margin-bottom: 20px;
        }
}

@media (min-width: 1200px) {
        .container {
                max-width: 1200px;
        }

        .section-title {
                font-size: 24px;
                margin-bottom: 24px;
        }
}

/* ==== header ===== */

.header {
        padding: 12px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
}

.logo {
        display: block;
        font-size: 24px;
        font-weight: 600;
        color: var(--light);

}

.nav-list {
        display: flex;
        flex-direction: row;
        gap: 8px;
}


.nav-list li a {
        display: block;
        color: var(--light);
        transition: var(--transition);
        font-size: 20px;
}

.nav-list li a:hover,
.nav-list li a:focus {
        color: #f4f42d;
        transition: var(--transition);
}

@media (min-width: 768px) {
        .header {
                flex-direction: row;
                gap: 0px;
        }

        .nav-list {

                gap: 16px;
        }
}

@media (min-width: 1200px) {
        .nav-list {
                gap: 24px;
        }
}

/* ==== hero ==== */
.hero {
        background-image:
                linear-gradient(rgba(0, 0, 0, 0.55),
                        rgba(0, 0, 0, 0.55)),
                url(./assets/hero.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}

.hero-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 56px;
        padding-bottom: 48px;
        align-items: flex-start;
}

.hero-span {
        color: rgb(83, 141, 242);
}

@media (min-width: 768px) {
        .hero-wrapper {

                gap: 28px;
                padding-top: 64px;
                padding-bottom: 56px;
        }
}

@media (min-width: 1200px) {
        .hero-wrapper {
                padding-top: 88px;
                padding-bottom: 80px;
        }
}

/* === concerts ==== */

.concerts {
        padding: 24px 16px;
        background: #131416;
        color: #fff;
        border-radius: 16px;
        margin-top: 64px;
        margin-bottom: 64px;
}

.section-title {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 16px;
}

.table-row {
        background: #1b1d22;
        border-radius: 12px;
        padding: 16px;
        margin-bottom: 12px;
        display: grid;
        gap: 4px;
}

.table-row .label {
        font-size: 12px;
        opacity: 0.6;
}

.table-head {
        display: none;
}

.table {
        border-radius: 8px;
}

.btn-table {
        padding: 4px 16px;
}

@media (min-width: 768px) {
        .table {
                display: table;
                width: 100%;
                border-collapse: collapse;
                background: #1f2126;
        }

        .table-row {
                display: table-row;
                padding: 0;
                margin: 0;
                border-bottom: 1px solid #2c2e33;
        }

        .table-row div,
        .table-row button {
                display: table-cell;
                padding: 16px;
                vertical-align: middle;
        }

        .table-head {
                display: table-row;
                font-weight: 700;
                background: #1f2126;
        }

        .label {
                display: none;
        }

        .btn {
                justify-self: end;
        }

        .table-row .label {

                display: none;
        }

        .concerts {
                margin-top: 80px;
                margin-bottom: 80px;
        }
}

@media (min-width: 1200px) {
        .concerts {
                margin-top: 100px;
                margin-bottom: 100px;
        }
}

/* === squad === */

.squad {
        padding-top: 48px;
        padding-bottom: 48px
}

.squad-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
}

.squad-item {
        border-radius: 16px;
        border: 1px solid #555658;
        background-color: #2c2e33;
        overflow: hidden;

}

.squad-item-text {
        text-align: start;
        padding: 8px 16px;
        color: var(--softLight);
}

@media (min-width: 768px) {
        .squad {
                padding-top: 56px;
                padding-bottom: 56px
        }

        .squad-list {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 24px
        }
}

@media (min-width: 1200px) {
        .squad {
                padding-top: 64px;
                padding-bottom: 64px
        }
}